body {
  font-family: Arial, sans-serif;
  background-color: rgb(255, 255, 255);
}

/* Color names*/
.sporty{
  color:red
}

/* Color names*/
.casual{
  color: #0000FF;
}
.card{
  color: rgba(0,0,0,0.5);
}
.card-2{
  background-color: #000;
  color: #fff;
  opacity: 0.5;
}